.wrapper,
header .wrapper,
.footer .field--field-footer {
    max-width: 900px;
}

body {
	font-family: 'Krub', sans-serif;
    font-weight: 300;
    font-size: 16px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a90329+0,8f0222+44,6d0019+100;Brown+Red+3D */
background: #383838;
}
.layout-container {
    background: transparent !important;
}

main[role='main']{
    padding: 0;
    margin-bottom: -137px;
    background: white;
}
main[role='main'] .wrapper {
    background: transparent;
}

.paragraph {
    text-align: center;
}

.paragraph h2{
    position: relative;
    margin: 50px 0 30px;
    font-size: 1.2em;
    display: inline-block;
    padding: 0 5px;
}

.paragraph h2:before,
.paragraph h2:after {
    content: "";
    border-bottom: 2px solid #ffbe00;
    margin: 0 7px;
    width: 40px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: -48px;
}
.paragraph h2:after {
    right: -48px;
    left: auto;
}


.paragraph ul li {
    position: relative;
    list-style: none;
    margin: 5px 0 5px 30px;
}
.paragraph ul.news li:before {
    content: '';
    position: absolute;
    left: -45px;
    font-weight: bold;
    top: 0;
    color: #333333;
    /* transform: rotate(-63deg); */
    background: url(img/newspapper-ico.png);
    background-size: cover;
    width: 23px;
    height: 23px;
}

.claim {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px;
	color: white;
	margin: 0 auto;
	text-align: center;
	font-size: 120%;
	text-shadow: 1px 1px 2px black;
}
@media only screen and (min-width: 768px) {
	.claim {
	font-size: 130%;
	position: absolute;
	left: 0;
	bottom: 60px;
	margin: 0 auto;
	width: calc(100% - 540px);
	padding: 0 0 0 540px;
	right: 0;
	}

    .paragraph h2{
        font-size: 1.5em;
    }

    .paragraph h2:before,
    .paragraph h2:after {
        top: 13px;
    }

    /*end min-width:768px*/;

}

@media only screen and (min-width: 900px) {
	.claim {
	font-size: 150%;
	}
}

.paragraph--type--clanek {
    padding: 45px 0 55px;
    top: -45px; /* 445px je výška slideru */
}


.paragraph--type--clanek .inner {
	font-size: 100%;
    color: black;
    padding: 0 15px 15px;
}


header {
    background: rgba(0, 0, 0, 0.78);
    z-index: 1;
    background-size: 100%;
    position: fixed;
}

@media only screen and (min-width: 321px) {
	header {
		
	}
}

@media only screen and (min-width: 600px) {
	header {
		
	}
}

@media only screen and (min-width: 768px) {
	header {
		
	}
}

@media only screen and (min-width: 900px) {
	header {
        
	}
}


.displayNone {
    display: none;
}

header .wrapper {
    background: transparent;    
    margin: 0 auto;
    min-height: 10px;
    border: none;
    padding: 0 10px;
}

.hashtag {
    display: inline-block;
    position: relative;
    border: 1px solid #ffc107;
    padding: 6px 15px 7px;
    margin: 3px 2px;
}
.hashtag:before {
    content: "#";
    font-size: 20px;
        margin: 0px 5px 0 0;
    position: relative;
    display: inline-block;
    top: 2px;
    color: #ffc107;
}

.header-image {
    display: none;
}

.logo {
	top: 8px;
    width: auto;
    height: 50px;
    left: -10px;
    text-indent: 0;
    text-align: left;
}
.logo a {
	color: white;
    text-decoration: none;
    width: auto;
    height: 50px;
    background: url(img/news-ico.svg) no-repeat 0 0;
    background-size: 25px;
    padding: 0 0 0 33px;
}
.logo svg {
    width: 100%;
    height: auto;
    display: block;    
}
.logo span {
    font-size: 21px;
    vertical-align: top;
    padding-right: 5px;
}

.wrapper {
    background: white;
}

h1, h2, h3, h4, h5,
.main-menu {
    font-family: 'PT Sans', sans-serif;
}

h2.paragraph-nadpis {
    text-transform: uppercase;
}

h3, h4 {
	color: black;
    font-weight: 400;
    margin: 40px 0 30px 0;
    font-size: 130%;
}

#menu-btn {
    color: white;
    top: 5px;
    right: 5px;
}

#menu-btn span,
#menu-btn span:before,
#menu-btn span:after {
    background: white;
}

@media only screen and (min-width: 768px) {
    }

@media only screen and (min-width: 1024px) {
    .logo{top: 16px;}
    .logo a{left: 0;}
    .main-menu {margin: 15px 0 0;}
    header .wrapper {
        padding: 0 15px 10px;
    }
}


.footer {
    padding: 30px 10px;
    background: transparent;
    color: #fff;
    text-align: center;
    position: relative;
}

.footer .field--field-footer {
    max-width: 870px;
    margin: 0 auto;
}

.footer a {
    color: #fff;
}

.footer h2 {
    color: #ffbe00;
}

nav#block-idweb-main-menu {
    position: relative;
    clear: both;
    float: none;
}

@media only screen and (min-width: 768px) {
    nav#block-idweb-main-menu {
        clear: none;
    }
}

nav#block-idweb-main-menu.active ul.menu {
    display: block;
}

nav#block-idweb-main-menu h2 {
    display: none;
}

.main-menu ul#paragraph-menu {
    padding: 0;
    display: none;
    max-width: 100%;
    margin: 0 auto;
}
.main-menu ul#paragraph-menu li {
    display: block;
    padding: 0
}
/*
@media only screen and (min-width: 950px) {
    .main-menu ul#paragraph-menu {
        display: block !important
    }
}

*/


@media only screen and (min-width: 1024px) {
    .main-menu ul#paragraph-menu li {
        display: inline-block;
        padding: 0;
        margin: 0 2px
    }
    .main-menu ul#paragraph-menu li a {
        text-shadow: 0;
    }
}


.main-menu ul#paragraph-menu li a {
    transition: 300ms;
    color: #333333;
    text-decoration: none;
    border: none;
    line-height: 25px;
    height: auto;
    position: relative;
}

.main-menu ul#paragraph-menu li a:hover, 
.main-menu ul#paragraph-menu li a.is-active {
    color: #FFC107;
    border-bottom: 0;
background: #ffffff;
    text-shadow: 0 -1px 1px #ffffff;
}

.main-menu ul#paragraph-menu li a.is-active,
.main-menu ul#paragraph-menu li.ui-tabs-active a {
    border-bottom: 0;
    font-weight: normal;
    color: #FFC107;
background: #ffffff;
    text-shadow: 0 -1px 1px #ffffff;
}

@media only screen and (min-width: 1024px) {
    .main-menu ul#paragraph-menu li a {
        background: transparent;
        border: 0;
        border-bottom: 1px solid transparent;
        color: white;
        border-radius: 0px;
    }
    .main-menu ul#paragraph-menu li a span{
        padding: 5px 14px;
    }
    .main-menu ul#paragraph-menu li a:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: transparent;
    }
    .main-menu ul#paragraph-menu li a:hover, 
    .main-menu ul#paragraph-menu li a.is-active, 
    .main-menu ul#paragraph-menu li.ui-tabs-active a {
        background: none;
        color: #ffffff;
        border:0;
        border-bottom: 1px solid #ffffff;
        text-shadow: 0 0 2px #666;
    }

    .main-menu ul#paragraph-menu li.ui-tabs-active a {
        border-color: #ffc107;
    }
}



#namaste-salon .inner .paragraph-nadpis-wrap {
    /*padding-top: 35%;
    background-image: url('data:image/jpeg;base64');
    background-repeat: no-repeat;
    background-position: center 15px;
    */background-size: 100%;
}

.paragraph--type--apartman {
    border: 1px solid #f1eed4;
    background: #fffef8;
}

.paragraph--type--apartman .field--field-nadpis-apartmanu {
    color: #113c8f;
}


@media only screen and (min-width: 768px) {
    #block-form label {
        float: left;
        width: calc(130px - 20px);
        padding: 7px 20px 7px 0;
        text-align: right;
    }
    #block-form input[type=text],
    #block-form input[type=email],
    #block-form input[type=date],
    #block-form input[type=number] {
        float: left;
        width: calc(100% - 142px);
        border: 1px solid grey;
        /* tohle přepsat někde v defaultu ubytovani */
        max-width: 100%; /* tohle přepsat někde v defaultu ubytovani */
        padding: 7px 5px 5px 5px;
    }
    #block-form input[type=submit] {
        margin-left: 130px; /* important kvuli submit:first-child v theme ubytovani; */
    }

    #block-form textarea {
        max-width: 398px;
    }
}

.paragraph--type--text-3-sloupce {
    text-align: center;
}


.slider {
display: block;
height: 500px;
position: relative;
width: 100%;
}

.slider-image-container {
display: block;
height: 500px;
width: 100%;
position: absolute;
overflow: hidden;
top: 0;
right: 0;
bottom: 0;
left: 0;
}

.slider-image-container img {
    -o-object-fit: cover;
    object-fit: cover;
        width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    max-width: none;
    max-height: none;
    border: none!important;
    border-radius: 0!important;
    padding: 0!important;
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.slider-claim-container {
display: block;
height: 500px;
text-align: center;
width: 100%;
position: absolute;
overflow: hidden;
top: 0;
right: 0;
bottom: 0;
left: 0;
background: #0000007d;
}

.slider-claim {
    display: table; height: 100%; width: 100%; font-size: 200%;
    text-shadow: 1px 1px 2px black, 1px -1px 2px black, -1px 1px 2px black, -1px -1px 2px black,
    1px 1px 6px black, 1px -1px 6px black, -1px 1px 6px black, -1px -1px 6px black;
}
.slider-claim-in {
     display: table-cell; text-align: center; vertical-align: middle; color: white;
}

@media only screen and (min-width: 768px) {

    .footer .paragraph--type--text-2-sloupce .field--field-prvni-sloupec {
        text-align: left;
    }
    .footer .paragraph--type--text-2-sloupce .field--field-druhy-sloupec {
        text-align: right;
    }

    #block-form {
        margin: 60px auto 30px;
        max-width: 530px;
    }
    /* tohle bych dal do obecného */
    .paragraph--type--text-2-sloupce,
    .paragraph--type--text-3-sloupce {
        display: table;
        width: 100%;
        position: relative;
    }
        /* tohle bych dal do obecného */
    .paragraph--type--text-2-sloupce:after,
    .paragraph--type--text-3-sloupce:after {
        content: "";
        display: block;
        width: 100%;
        clear: both;
    }

    /* tohle bych dal do obecného */
    .paragraph--type--text-2-sloupce .field--field-prvni-sloupec,
    .paragraph--type--text-2-sloupce .field--field-druhy-sloupec {
        display: table-cell;
        width: 50%;
    }

    /* tohle bych dal do obecného */
    .paragraph--type--text-3-sloupce .field--field-prvni-sloupec,
    .paragraph--type--text-3-sloupce .field--field-druhy-sloupec,
    .paragraph--type--text-3-sloupce .field--field-treti-sloupec {
        display: table-cell;
        width: 33.3%;
    }


}


#cboxNext:before,
#cboxPrevious:before,
#cboxClose:before {
    background: #113c8f!important;
}

.floatRight {
    float: right;
}
.floatLeft {
    float: left;
}

.circle {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    display: block;
    margin: 0 auto;
}

#lokalita .circle {
    margin-top: -40px;
    }

img.circle.floatLeft,
img.circle.floatRight {
    float: none;
}

.rozloha {
        display: block;
    max-width: 320px;
    margin: 0 auto;

}

.alignLeft,
.alignRight {
    text-align: center;
}

@media only screen and (min-width: 599px) {
    img.circle.floatRight {
      float: right;
        margin: 0 0 0 30px;  
    }
    img.circle.floatLeft {
        float: left;
        margin: 0 30px 0 0;
    }

    .alignRight {
        text-align: right;
    }

    .alignLeft {
        text-align: left;
    }
}

a.btn {
    padding: 5px 11px;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid #8f0222;
    font-weight: normal;
    color: #fff;
background: #a90329; /* Old browsers */
background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
    text-shadow: 0 -1px 1px #00000059;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
}
a.btn:hover {
    background: #8f0222;
    transition: background-color .35s ease;
    -webkit-transition: background-color .35s ease;
    -moz-transition: background-color .35s ease;
}


.textAlignLeft {
    text-align: left;
}

.displayInlineBlock {
    display: inline-block;
}


table{width:100%}
table tr th{background:#663822;color:white;font-weight:500;border-bottom:1px solid #663822;border-left:1px solid #7f4d35;padding:10px 10px 9px 10px;text-align:left}
table tr th:first-child{border-left:0}
table tr th[align="right"],
table tr th.views-align-right{text-align:right}
table tr th[align="center"],
table tr th.views-align-center{text-align:center}
table tr td{border-bottom:1px solid #eee;border-left:1px solid #eee;padding:6px 10px}table tr td:first-child{border-left:0}
table tr td[align="right"],
table tr td.views-align-right{text-align:right}
table tr td[align="center"],
table tr td.views-align-center{text-align:center}
table tr:last-child td{border-bottom:0}

.paragraph ul.uvod {
    padding: 0;
    margin: 0;
}
.paragraph ul.uvod li{
    margin: 5px 0 10px;
    text-align: left;
}
.paragraph ul.uvod li:before,
.paragraph ul.uvod li:after {
    content: "";
        border-bottom: 1px solid #ffc106;
    margin: 0 7px;
    width: 12px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: -25px;
    display: inline-block;
}
.paragraph ul.uvod li:after {
    display: none;
    right: -25px;
    left: auto;
}

@media only screen and (min-width: 419px) {
    .paragraph ul.uvod li{ text-align: center;}
    .paragraph ul.uvod li:before,
    .paragraph ul.uvod li:after {
    position: relative;
    top: -4px;
    left: 0;
    display: inline-block;}
}

.paragraph ul.vydani {
    margin: 0;
    padding: 5px 0;
}
.paragraph ul.vydani li{
    margin: 5px 0 10px;
    text-align: left;
}
.paragraph ul.vydani li:before {
    content: "";
        border-bottom: 1px solid #ffc106;
    margin: 0 7px;
    width: 12px;
    height: 1px;
    position: absolute;
    top: 10px;
    left: -25px;
    display: inline-block;

}


.paragraph ul.postup {
    margin: 0;
    padding: 5px 0;
}
.paragraph ul.postup li{
    margin: 15px 0;
}
.paragraph ul.postup li strong {
    font-size: 110%;
    display: inline-block;
    padding-bottom: 5px; 
}

.loga {}
.loga img{
    width: auto;
    max-height: 40px;
    display: inline-block;

}

.slogan {
    color: #FFC107;
    border: 1px solid #FFC107;
    padding: 30px;
    font-size: 260%;
    /*
    text-shadow: 1px 1px 1px black, 1px -1px 1px black, -1px 1px 1px black, -1px -1px 1px black;
    */
}